
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2d98da;
}
.box{
    width: 30%;
    height:60%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}
.b1{text-decoration: none;
    display: block;
    padding:10px 0;
    width:260px;
    text-align: center;
    margin: auto;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.4s all;
    border-radius: 24px;
}
.b2{
    position:absolute;
    bottom:20%;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    padding: 10px 0;
    text-decoration:none;
    color: white;
    border-radius: 24px;
}
a:hover{background:#27ae60; }
@media (min-width: 320px) and (max-width: 480px) {

    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: #2d98da;
    }
    .box{
        width: 30%;
        height:60%;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #191919;
        text-align: center;
    }
    .box h1{
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }
    .box input[type = "text"],.box input[type = "password"]{
        border:0;
        background: none;
        display: block;
        margin: 10px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 10px 10px;
        width: 50%;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }
    .box input[type = "text"]:focus,.box input[type = "password"]:focus{
        width: 85%;
        border-color: #2ecc71;
    }
    .box input[type = "submit"]{
        border:0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }
    .box input[type = "submit"]:hover{
        background: #2ecc71;
    }
    .b1{text-decoration: none;
        display: block;
        padding:10px 0;
        margin-bottom: 15px;
        width:85%;
        text-align: center;
        margin: auto;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        transition: 0.4s all;
        border-radius: 24px;
    }
    .b2{
        position:absolute;
        bottom:5%;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        padding: 10px 0;
        text-decoration:none;
        color: white;
        border-radius: 24px;
    }
    a:hover{background:#27ae60; }

}
