
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2d98da;
}
.box{
    width: 30%;
    height:60%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box p{
    color: white;
    text-align: center;
}
.box input[type = "Email"],.box input[type = "password"],.box input[type = "Repeat password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "Email"]:focus,.box input[type = "password"]:focus,.box input[type = "Repeat password"]:focus{
    width: 280px;
    border-color: #26de81;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}
.b1{text-decoration: none;
    display: block;
    padding:10px 10px;
    width:90%;
    text-align: center;
    margin: auto;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.4s all;
    border-radius: 1px;

}

a:hover{background: rgba(255,255,255, 0.1 ); }
@media (min-width: 320px) and (max-width: 480px) {


    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background:  rgba(39, 174, 96,1.0);
    }
    .box{
        width: 60%;
        height:90%;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #191919;
        text-align: center;
    }
    .box h1{
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }
    .box p{
        color: white;
        text-align: center;

    }
    .box input[type = "Email"],.box input[type = "password"],.box input[type = "Repeat password"]{
        border:0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 90%;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }
    .box input[type = "Email"]:focus,.box input[type = "password"]:focus,.box input[type = "Repeat password"]:focus{
        width: 85%;
        border-color: #26de81;
    }
    .box input[type = "submit"]{
        border:0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }
    .box input[type = "submit"]:hover{
        background: #2ecc71;
    }
    .b1{text-decoration: none;
        display: block;
        padding:10px 0;
        width:85%;
        text-align: center;
        margin: auto;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        transition: 0.4s all;
        border-radius: 1px;

    }
    .b2{text-decoration: none;
        display: block;
        padding:10px 0;
        width:85%;
        text-align: center;
        margin: auto;
        color: white;
        font-weight: 300;
        background-color: red;
    }

    a:hover{background: rgba(255,255,255, 0.1 );
            width: 80%;}
}